*.pyc
.mypy_cache
.mypy.ini
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.dir-locals.el
.project.el
pyrightconfig.json
.gitignore
flaskr/data/current/*
flaskr/data/tmp/*
flaskr/graphs/current/*
flaskr/graphs/tmp/*
flaskr/logs/*

